# VS Code
.vscode/

# MSVC
Asan/
Release/
Debug/
*.vcxproj.*
.vs/

# bazel
bazel-bin
bazel-cpp
bazel-out
bazel-polykit
bazel-polylog
bazel-testlogs

# Binaries
__pycache__/
*.exe

# Misc
*.pdf
in*.txt
out*.txt
/tex/
