build:msvc --cxxopt="/std:c++17"
build:msvc --copt /wd4267  # "conversion from 'size_t' to 'type', possible loss of data"

# `clang-cl` config is based on `msvc` config
build:clang-cl --cxxopt="/std:c++17"
build:clang-cl --copt /wd4267  # "conversion from 'size_t' to 'type', possible loss of data"
build:clang-cl --copt "-Wno-builtin-macro-redefined"  # for __DATE__, __TIME__, __TIMESTAMP__

build:clang --repo_env=CC=clang
build:clang --cxxopt="-std=c++17"

# TODO: Fix ASAN config
build:asan --repo_env=CC=clang
build:asan --cxxopt="-std=c++17"
build:asan --strip=never
build:asan --copt -fsanitize=address
build:asan --copt -DADDRESS_SANITIZER
build:asan --copt -O1
build:asan --copt -g
build:asan --copt -fno-omit-frame-pointer
build:asan --linkopt -fsanitize=address
